<!-- postings.html.erb -->

<div class="row text-center head-pad">
		<h1>Things I've Posted</h1>
</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-default">
         <div class="panel-heading map" id="show">

					<% current_user.postings.each do |posting| %>
						<div class="media">
							

								<div class="media-left">
									<a  href="/postings/<%=posting.id%>">
										<%= image_tag (posting.avatars.first.profile.url) unless posting.avatars.first.nil? %>
									</a>
								</div>
							

							<div class="media-body">
								<h3 class="k"><strong><%= posting.title %></strong></h3>
								<p><strong>Posting ID:</strong><br> <%= posting.id %></p>
								<p><strong>Description</strong><i><br>	<%= posting.description %></i></p>
								<p><strong>Address</strong><i><br>	<%= posting.full_address %></i></p>
								<p><strong>Category</strong><i><br><%= posting.category %></i></p>
								<p><strong>Condition</strong><br><i><%= posting.condition %></i></p>

							</div>

							
						</div> <!-- close media -->
					<% end %>

				</div>
			</div>
		</div>
	</div>




