<h1>Users#show</h1>

<%=link_to "Edit", edit_user_registration_path%>
<div>

	<div>
			
		<% if @user.avatar.file.nil?  %>

			<% if @user.facebook_image.nil? %>
		 			<img src='data:image/png;base64,<%=@user.identicon %>'> 
		 	<% else %> 
		 			<%= image_tag(@user.facebook_image) %> 
		 	<% end %>
	
	<% else %> 
				<%= image_tag(@user.avatar_url(:profile))%>
		<% end %>

	</div>


	<table style="width:100%">
	  	<tr>
	  		<th>ID</th>
	  		<td><%=@user.id%></td>
	  	</tr>
	  	<tr>
	  		<th>First name</th>
	    	<td><%=@user.first_name%></td>
	  	</tr>
	  	<tr>
	    	<th>Last name</th> 
	    	<td><%=@user.last_name%></td> 
	  	</tr>
	  	<tr>
	    	<th>Phone number</th>
	    	<td><%=@user.phone_no%></td>
	  	</tr>
	  	<tr>
	    	<th>Email</th>
	    	<td><%=@user.email%></td>
	   	</tr>
	   	<tr>
	    	<th>Credit Standing</th>
	    	<td><%=@user.credit%></td>
	   	</tr>

	   		<th>Account Type</th>
	   		<td><%=@user.account_type.capitalize%>
	   			<% if @user.payments.where(status: :authorized).count == 0%>
			    	<%= link_to 'Upgrade to Premium' , new_payment_path + "?id=" + @user.id.to_s, class: "btn btn-warning"  %>
			    <% else %>
			    	<span class="btn btn-success">Paid</span>
			    <% end %>
	   		</td>
	   	</tr>
	 
	</table>



</div>
