<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default"> 

      <div class="panel-heading post_image text-center">
        <h2><%= @user.first_name%> <%=@user.last_name%></h2><br>

        <p>
        <% if @user.avatar.file.nil?  %>
					<% if @user.facebook_image.nil? %>
				 			<img src='data:image/png;base64,<%=@user.identicon %>' class="img-thumbnail">
				 	<% else %> 
				 			<%= image_tag(@user.facebook_image) %>
				 	<% end %>
				<% else %> 
						<%= image_tag(@user.avatar_url(:profile))%>
				<% end %>
			 	</p>
			</div>

			<div class="panel-body">

					<p>
						<strong>User ID</strong><br>
			  		<i><%=@user.id%></i>
		  		</p>

		  		<p>
						<strong>Phone No.</strong><br>
			  		<i><%=@user.phone_no%></i>
		  		</p>

		  		<p>
						<strong>Email</strong><br>
			  		<i><%=@user.email%></i>
		  		</p>
		  	
		  		<p>
						<strong>Credit Standing</strong><br>
			  		<i><%=@user.credit%></i>
		  		</p>

		  		<p>
						<strong>Account Type</strong><br>
			  		<i><%=@user.account_type.capitalize%>
			  			
			  		</i>
		  		</p>

	   		<div class="btn-group pull-right">
	   			<% if @user.payments.where(status: :authorized).count == 0%>
					    	<%= link_to 'Upgrade to Premium' , new_payment_path + "?id=" + @user.id.to_s, class: "btn btn-default upgrade"  %>
					    <% else %>
					    	<span class="btn btn-default">Paid</span>
					    <% end %>

					<%=link_to "Edit", edit_user_registration_path, class: "btn btn-default" %>
				</div>




