<h1>Users#show</h1>

<%=link_to "Edit", edit_user_registration_path%>
<div>

	<div>
		<%= image_tag(@user.avatar_url(:profile)) if @user.avatar? %> 
		
		<% if @user.avatar.file.nil?  %>
		 	<img src='data:image/png;base64,<%=@user.identicon %>'> 
		<% end %>

	</div>


	<table style="width:100%">
	  	<tr>
	  		<th>ID</th>
	  		<td><%=@user.id%></td>
	  	</tr>
	  	<tr>
	  		<th>First name</th>
	    	<td><%=@user.first_name%></td>
	  	</tr>
	  	<tr>
	    	<th>Last name</th> 
	    	<td><%=@user.last_name%></td> 
	  	</tr>
	  	<tr>
	    	<th>Phone number</th>
	    	<td><%=@user.phone_no%></td>
	  	</tr>
	  	<tr>
	    	<th>Email</th>
	    	<td><%=@user.email%></td>
	   	</tr>
	</table>
</div>
