<p id="notice"><%= notice %></p>

<div class="container-fluid"> <!-- has to be fluid --> 

  <h1 class="text-center">Note: Search bar appears here</h1>

  <div class="row" id="row">  
   <!-- <div class="col-xs-6 col-md-3">
    <div id="pins">
      <div class="thumbnail"> -->

      <% @postings.each do |posting| %>
        <% if posting.availability && current_user.id != posting.user_id %>

      <div class="col-md-4"> <!-- has to be inside so that 3 pins appear in a row-->
        <div id="pins">
          <div class="thumbnail">

            <div class="panel panel-default box">

            <div class="panel-heading post_image text-center map" id="show">
            <a href="/postings/<%=posting.id%>">
              <%= image_tag (posting.avatars.first.medium.url) unless posting.avatars.first.nil? %>
            </a>
            </div>
                <!-- <div class=caption""> -->
                <div class="panel-body">
                  <h3><%= posting.title %></h3>
                    <span class="thumb-font"><%= posting.description %></span><br>
                    <span class="thumb-font"><%= posting.condition %></span><br>
                    <span class="thumb-font"><%= posting.category %></span><br>
                    <span class="thumb-font"><%= posting.full_address %></span>      
                      
                      <!-- <p>
                      <a href="#" class="btn btn-success" role="button">Get!</a> 
                      <a href="#" class="btn btn-default" role="button">Book!</a>
                      </p> -->
                </div> <!-- close panel body --> 
                <!-- </div> -->  <!-- close caption --> 
            </div> <!-- close panel panel-default --> 

          </div> <!-- close thumbnail --> 
        </div> <!-- close pins --> 
      </div> <!-- close column --> 

        <% end %>
      <% end %> 

      <!-- </div>  --> <!-- close thumbnail -->
    <!-- </div> --> <!-- close column -->
  <!-- </div>  --><!-- close pins -->
  </div> <!-- close row -->
</div> <!-- close container -->

    