<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- <div id="" class="carousel slide" > -->
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>





    <!-- Wrapper for slides -->
    <div class="carousel-inner" id="r" role="listbox">
      <div class="item active">
        <img src="https://c2.staticflickr.com/8/7524/29644626323_e9ec5da7bf_o.png" alt="Credit to Flaticon" width="1200" height="700">
        <div class="carousel-caption">
          <!-- <h3>New York</h3>
          <p>The atmosphere in New York is lorem ipsum.</p> -->
        </div>
      </div>


      <div class="item" id="r">
        <img src="https://c2.staticflickr.com/6/5620/29643955794_1eac8c6e45_o.png" alt="Credit to Flaticon" width="1200" height="700">
        <div class="carousel-caption">
          <!-- <h3>Chicago</h3> -->
          <!-- <p>Thank you, Chicago - A night we won't forget.</p> -->
        </div>
      </div>

      <div class="item" id="r">
        <img src="https://c2.staticflickr.com/6/5713/29978058440_3c0c7ec52c_o.png" alt="Credit to Flaticon" width="1200" height="700">
        <div class="carousel-caption">
          <!-- <h3>LA</h3>
          <p>Even though the traffic was a mess, we had the best time playing at Venice Beach!</p> -->
        </div>
      </div>
    </div>




    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" id="left-control">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" id="right-control">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>


<br>
<!-- Search section -->
<div class="module">
  <div class="row row-centered">
    <div class="col-md-4 col-md-offset-4">
     <%= form_tag search_path, method: :get do %>
       <form class="form-inline">
          <div class="form-group">
            <%= text_field_tag :location, params[:location], placeholder: "Location", class: "form-control" %>
          </div>
        
            <div class="form-group ">
            <%= text_field_tag :category, params[:category], placeholder: "Category", class: "form-control" %>
           </div>

            <div class="form-group ">
            <%= text_field_tag :others, params[:others], placeholder: "Description", class: "form-control" %>
          </div>

          <%= submit_tag "Search", class: "btn btn-sample" %>
      </form>
     <% end %>
     </div>
   </div>
 </div>

<!-- Container (The Band Section) -->
<div id="band" class="container text-center">
  <div class="module"><h3>About TreasureTrash</h3></div>
  <div class="module"><p id="quote"><q><em>One man's trash is another man's treasure!</em></q></p></div>
  <div class="module"><p>Our platform allows individuals to get rid of unwanted things by giving them away to other individuals. Well, who doesn't like free stuffs, right? Start treasuretrashing today!</p></div>
  <br>


  <div class="module">
      <h3>Contributors</h3>
    <p>
    <div class="row">
       <div class="col-md-3 grow">
        <p class="text-center"><strong>Gan Yi Zhong</strong></p><br>

        <a href="#demo" data-toggle="collapse">
          <img src="https://c2.staticflickr.com/6/5781/29643287533_4dae492151_o.png" class="img-circle person" alt="Gan Yi Zhong" width="255" height="255">
        </a>
        <div id="demo" class="collapse">
        <!--   <p>Find trash around you.</p>
          <p>...</p>
          <p>...</p> -->
        </div>
      </div>

      <div class="col-md-3 grow">
        <p class="text-center"><strong>N Hanisah K Zaman</strong></p><br>
        <a href="#demo" data-toggle="collapse">
          <img src="https://c1.staticflickr.com/9/8131/29976876630_c66c0fb54e_o.png" class="img-circle person" alt="N Hanisah K Zaman" width="255" height="255">
        </a>
        <div id="demo" class="collapse">
        <!--   <p>Find trash around you.</p>
          <p>...</p>
          <p>...</p> -->
        </div>
      </div>

      <div class="col-md-3 grow">
        <p class="text-center"><strong>Nicholas Ng</strong></p><br>

        <a href="#demo2" data-toggle="collapse">
          <img src="    "><img src="https://c1.staticflickr.com/9/8410/29643287383_8b8a8ffe0d_o.png" class="img-circle person" alt="Nicholas Ng" width="255" height="255">
        </a>
        <div id="demo2" class="collapse">
          <!-- <p>Get the ones that you like</p>
          <p>...</p>
          <p>...</p> -->
        </div>
      </div>

      <div class="col-md-3 grow">
        <p class="text-center"><strong>Wong Teng Wei</strong></p><br>

        <a href="#demo3" data-toggle="collapse">
          <img src="https://c2.staticflickr.com/6/5577/30238608726_dd072ce47e_o.png" class="img-circle person" alt="Teng Wei Wong" width="255" height="255">
        </a>
        <div id="demo3" class="collapse">
          <!-- <p>Congratulations! You've gained an item without spending anything.</p>
          <p>...</p>
          <p>...</p> -->
        </div>

      </div>
    </div>
  </div>
  </p>
</div>
  


<footer class="text-center module">
  <p>
    <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
  </p>

  <div class="container">
    <a class="btn btn-social-icon btn-twitter">
      <span class="fa fa-twitter"></span>
    </a>
    <a class="btn btn-social-icon btn-facebook">
      <span class="fa fa-facebook"></span>
    </a>
    <a class="btn btn-social-icon btn-google">
      <span class="fa fa-google"></span>
    </a>
    <a class="btn btn-social-icon btn-instagram">
      <span class="fa fa-instagram"></span>
    </a>
  </div>

  <p>
    TreasureTrash All Rights Reserved 2016 <br>
    Developed by Team 5, August Intake, Next Academy
  </p>
</footer>
  <script src="https://unpkg.com/scrollreveal@3.3.2/dist/scrollreveal.min.js"></script>
  <script>  
    window.sr = ScrollReveal({ duration: 2000 });
    sr.reveal('.module');
  </script>

