<h2>Transaction Show Page</h2>

<% @transaction.posting.avatars.each do |x| %>
  <%= image_tag (x.medium.url) %>
<%end%>

<p>
  <strong>Title:</strong>
  <%= @transaction.posting.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @transaction.posting.description %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @transaction.posting.condition %>
</p>

<p>
  <strong>Category:</strong>
  <%= @transaction.posting.category %>
</p>

<p>
  <strong>Location:</strong>
  <%= @transaction.posting.full_address %>
</p>

<p>
	<strong>Giver's details</strong>
	<%= @transaction.posting.user.first_name %>
	<%= @transaction.posting.user.last_name %>
	<%= @transaction.posting.user.email %>
	<%= @transaction.posting.user.phone_no %>
</p>
