<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default"> 

      <div class="panel-heading post_image text-center">
        <h2>Transaction Details</h2>

        <% @transaction.posting.avatars.each do |x| %>
          <%= image_tag (x.medium.url)  %>
          <% end %>
      </div>

      <div class="panel-body">
        <p>
          <strong>Title:</strong>
          <%= @transaction.posting.title %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= @transaction.posting.description %>
        </p>

        <p>
          <strong>Condition:</strong>
          <%= @transaction.posting.condition %>
        </p>

        <p>
          <strong>Category:</strong>
          <%= @transaction.posting.category %>
        </p>

        <p>
          <strong>Location:</strong>
          <%= @transaction.posting.full_address %>
        </p>


        <p>
          <strong>Item Availability</strong>
          <%= @transaction.posting.availability %>
        </p>

        <p>
          <strong>Transaction Status:</strong>
          <%= @transaction.status %>
        </p>

        <p>
          <strong>Item picked up?</strong>
          <%= @transaction.success %>
        </p>

        <p>
        	<strong>Giver's details</strong>
        	<%= @transaction.posting.user.first_name %>, 
        	<%= @transaction.posting.user.last_name %>,
        	<%= @transaction.posting.user.email %>,
        	<%= @transaction.posting.user.phone_no %>
        </p>

        <p>
          <strong>Taker's details</strong>
          <%= @transaction.user.first_name %>,
          <%= @transaction.user.last_name %>,
          <%= @transaction.user.email %>,
          <%= @transaction.user.phone_no %>
        </p>




        <%# form_for @transaction, url: posting_transaction_path(@transaction.posting, @transaction), html: {method: "patch"} do |f| %>
        <%# button_to "I've Got It!",  controller: "transactions", method: "patch", action: "update", success: true %>
        <% if  @transaction.status %>
        <%= form_for @transaction, url: {controller: :transactions, action: :update, data: { confirm: 'Did you receive your item? Click to Confirm'}} do |f| %>
          <%= f.hidden_field :success, :value => true %>
          <%= f.hidden_field :status, :value => false %>
          <%= f.submit "I have taken this item" %>
        <% end %>
        <% end %>
        <%# end %>

        <% if current_user.id == @transaction.user.id && @transaction.status %>
          <%= link_to "Cancel Transaction", posting_transaction_path, method: :delete, data: { confirm: 'Are you sure?'} %>
        <% end %>

        <%= link_to 'Back', postings_path, class: "btn btn-default pull-right" %>
      </div> <!-- close panel body -->

    </div>
  </div>
</div>
