<!DOCTYPE html>
<html>
<head>
  <title>TreasureTrash</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div>
	<%= link_to "login", new_user_session_path unless user_signed_in? %>
	<%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path unless user_signed_in? %>
	<%= link_to "logout", destroy_user_session_path, method: :delete if user_signed_in? %>
</div>

<%= form_tag search_path, method: :get do %>
  <p>
    <%= text_field_tag :location, params[:location], placeholder: "Location" %>
    <%= text_field_tag :category, params[:category], placeholder: "Category" %>
    <%= text_field_tag :others, params[:others], placeholder: "Description" %>
    <%= submit_tag "Search" %>
  </p>
<% end %>

<div>
  <%= link_to "All Postings", postings_path %>
</div>

<div><%=link_to "Current User", user_path(current_user) if user_signed_in? %></div>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>



<%= yield %>

</body>
</html>

